@model IEnumerable<SPEL.Domain.Entities.Lid>

@{
    ViewBag.Title = "LedenBeheer";
}

<h2>Leden Beheer</h2>

<p>
    @Html.ActionLink("Voeg toe", "LidToevoegen", " ", htmlAttributes:  new {@class = "btn btn-default"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GebDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geslacht)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Woonplaats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telnr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GebDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geslacht)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Woonplaats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telnr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassID)
        </td>
        <td>
            <img class="img-thumbnail" width="150" height="150" src="@Url.Action("GetImage", "Leden",
               new { item.ID })" /> 
        </td>
        <td>
            @Html.ActionLink("Print sportkaart", "EenSportkaart", new { Id = item.ID } )
        </td>

    </tr>
}

</table>

@Html.ActionLink("Print alle sportkaarten", "Sportkaart", " ", htmlAttributes: new { @class = "btn btn-default" })
